@import '/src/styles/variables';

.quantity-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .input {
    display: flex;
    justify-content: space-between;

    input[type='number'] {
      width: 48px;
      border: none;
      background: transparent;
      text-align: center;
      color: inherit;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $up-font-weight-light;
    font-size: $up-font-s-size;
    opacity: 0.5;
    gap: 0.5em;
  }

  &-inline {
    flex-direction: row-reverse;
  }
}
