.postcode-input-container {
  display: flex;
}

.postcode-input-element {
  width: 100%;
  height: 24px;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: currentcolor;
}
