<form
  #passwordFormRef
  class="flex-column centered"
  *ngIf="form"
  [formGroup]="form"
  (ngSubmit)="updatePassword()"
>
  <mat-form-field [appearance]="appearance">
    <mat-label>{{ 'PASSWORD' | appTranslate }}</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'HIDE_PASSWORD' | appTranslate"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon class="material-icons-outlined">
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{ password | validationError }}</mat-error>
  </mat-form-field>
  <mat-form-field [appearance]="appearance">
    <mat-label>{{ 'CONFIRM_PASSWORD' | appTranslate }}</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordConfirmation" />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'HIDE_PASSWORD' | appTranslate"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon class="material-icons-outlined">
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
    <mat-error *ngIf="passwordConfirmation.invalid">
      {{ passwordConfirmation | validationError }}
    </mat-error>
  </mat-form-field>
  <button mat-flat-button [color]="color" type="submit" [disabled]="!form.valid">
    {{ action.toUpperCase() + '_PASSWORD' | appTranslate }}
  </button>
  <app-overlay-spinner
    *ngIf="validating && afterViewChecked"
    [triggerRef]="passwordFormRef"
    [transparent]="true"
  ></app-overlay-spinner>
</form>
