<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<div
  class="pure-g articles"
  *ngIf="(loading$ | async) === false && (articlesInGroup$ | async) as articlesInGroup"
>
  <app-empty-placeholder *ngIf="!groupHasSubgroups && (!articlesInGroup || articlesInGroup.length === 0)">
    {{ 'NO_ARTICLES_IN_GROUP' | appTranslate }}
  </app-empty-placeholder>
  <div
    class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-8-24 pure-u-lg-8-24 article"
    *ngFor="let articleInGroup of articlesInGroup"
  >
    <app-article [article]="articleInGroup.article"></app-article>
  </div>
</div>
