<mat-card class="mat-gray">
  <mat-card-header>
    <mat-card-title>
      {{ 'DELIVERY_ADDRESS_FORM_TITLE' | appTranslate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="form" [formGroup]="form">
      <div class="form-row">
        <mat-checkbox formControlName="useInvoiceAddress">
          {{ 'DELIVER_TO_INVOICE_ADDRESS' | appTranslate }}
        </mat-checkbox>
      </div>
      <app-address-form *ngIf="!useInvoiceAddress" [form]="address"></app-address-form>
    </form>
  </mat-card-content>
</mat-card>
