@import '/src/styles/variables';

mat-expansion-panel.mat-expansion-panel {
  mat-expansion-panel-header.mat-expansion-panel-header {
    mat-panel-title.mat-expansion-panel-header-title,
    mat-panel-description.mat-expansion-panel-header-description {
      flex-wrap: wrap;
      gap: 0.2em;
    }

    mat-panel-title.mat-expansion-panel-header-title {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .order-id {
        font-weight: $up-font-weight-bold;
      }
    }

    mat-panel-description.mat-expansion-panel-header-description {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  mat-expansion-panel.mat-expansion-panel {
    mat-expansion-panel-header.mat-expansion-panel-header {
      mat-panel-title.mat-expansion-panel-header-title {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  mat-expansion-panel.mat-expansion-panel {
    mat-expansion-panel-header.mat-expansion-panel-header {
      mat-panel-title.mat-expansion-panel-header-title,
      mat-panel-description.mat-expansion-panel-header-description {
        flex-direction: row;
      }

      mat-panel-description.mat-expansion-panel-header-description {
        display: flex;
      }
    }
  }
}
